torch
transformers
ultralytics
pillow
accelerate
bitsandbytes
opencv-python
pyyaml
qwen-vl-utils[decord]
fastapi
uvicorn[standard]
python-multipart
sentence-transformers
faiss-cpu
requests
rapidfuzz
pydantic
groq
reportlab
PyPDF2
scipy